/*固定ヘッダー*/
a {
  text-decoration: none;
  color: inherit;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #fff;
  color: #000;
}
.header-ttl {
  font-size: 24px;
  width: 70px;
}
.header-ttl img {
  width: 100%;
  height: auto;
}
.header-nav-list {
  display: flex;
  font-weight: bold;
}
.header-nav-item:not(:last-child) {
  margin-right: 30px;
}
.header__1,
.nav {
  display: none;
}
/*ホーム1*/
.home__1--img {
  position: relative;
  /*
  background: url(../img/mv.jpg) no-repeat center/cover;
  margin-left: 13%;
*/
}
.home__1--img img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.home__1--content {
  position: absolute;
  top: 55%;
  left: 43%;
  text-align: center;
  font-size: 60px;
  color: #fff;
}
/*ホーム2*/
.home__2 {
  margin-top: 30px;
}
.home__2--ttl1,
.home__2--ttl2 {
  margin-left: 370px;
  padding: 20px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  line-height: 150%;
  border-bottom: 1px solid #000;
  width: 60%;
}
.home__2--content1,
.home__2--content2 {
  margin-left: 380px;
  padding: 10px;
  color: #000;
  font-size: 25px;
  line-height: 150%;
}
table {
  width: 60%;
  border-collapse: collapse;
  margin: 0px auto;
}
table th,
table td {
  border: 1px solid #000;
  padding: 20px;
  color: #000;
  font-size: 25px;
}
table th {
  font-weight: bold;
  background-color: #f5f5f5;
}
/*ホーム3*/
.home__8 {
  background-color: #f5f5f5;
  width: 100%;
  height: auto;
  margin-top: 30px;
  padding-bottom: 10px;
}
.home__8--content {
  text-align: center;
  color: #000;
  line-height: 120%;
}
.home__8--ttl {
  padding: 50px;
  font-size: 35px;
  font-weight: bold;
}
.home__8--subttl {
  font-size: 23px;
}
/*ボタン*/
.home__8--btn {
  display: block;
  width: 400px;
  margin: 30px auto;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  background: #ff0000;
  color: #fff;
  font-size: 23px;
  font-weight: bold;
}
.home__8--btn:hover {
  color: rgba(0, 191, 255, 0.35);
}
/*サイトフッター*/
a {
  text-decoration: none;
  color: inherit;
}
.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.footer-ttl {
  font-size: 14px;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 10px;
}
.footer-nav-list {
  display: flex;
  font-weight: bold;
  width: 100%;
  justify-content: center;
  font-size: 14px;
  margin-right: 100px;
  margin-bottom: 10px;
}
.footer-nav-item:not(:last-child) {
  margin-right: 20px;
}
.footer-nav-item {
  border-right: 1px solid #fff;
  padding-right: 2px;
}
/*レスポンシブデザイン*/
@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
  .header__1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 10px 30px;
    background-color: #fff;
    color: #000;
  }
  a {
    text-decoration: none;
    color: rgb(12, 15, 231);
  }
  .nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    left: -100%;
    background: #fff;
    color: #000;
    transition: 0.7s;
    text-align: center;
  }
  .header-nav-list--1 {
    padding-top: 30px;
    margin: 0px auto;
    width: 300px;
    height: auto;
  }
  .header-nav-item--1 {
    list-style-type: none;
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #0000ff;
  }
  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    left: 20px;
  }
  .menu__line--top,
  .menu__line--middle,
  .menu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    color: #000;
    position: absolute;
    transition: 0.5s;
  }
  .menu__line--top {
    top: 0;
  }
  .menu__line--middle {
    top: 14px;
  }
  .menu__line--bottom {
    bottom: 0;
  }
  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
  .in {
    transform: translateX(100%);
  }
  /*ホーム1*/
  .home__1 {
    background: url(../img/mv.jpg) no-repeat center/cover;
  }
  .home__1--img {
    position: relative;
  }
  /*
  .home__1--img img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
  */
  .home__1--content {
    position: absolute;
    top: 55%;
    left: 34%;
    text-align: center;
    font-size: 60px;
    color: #fff;
  }

  /*ホーム2*/
  .home__2 {
    margin-top: 30px;
  }
  .home__2--ttl1,
  .home__2--ttl2 {
    margin-left: 150px;
    padding: 20px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    line-height: 150%;
    border-bottom: 1px solid #000;
    width: 60%;
  }
  .home__2--content1,
  .home__2--content2 {
    margin-left: 150px;
    margin-right: 100px;
    padding: 5px;
    color: #000;
    font-size: 25px;
    line-height: 150%;
    margin-bottom: 30px;
  }
  .home__2--content2 {
    margin-bottom: 30px;
  }
  table {
    width: 60%;
    border-collapse: collapse;
    margin: 0px auto;
    margin-bottom: 60px;
  }
  table th,
  table td {
    border: 1px solid #000;
    padding: 20px;
    color: #000;
    font-size: 25px;
  }
  table th {
    font-weight: bold;
    background-color: #f5f5f5;
  }
  /*サイトフッター*/
  a {
    text-decoration: none;
    color: inherit;
  }
  .footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  .footer-inner {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  .footer-ttl {
    font-size: 14px;
    text-align: center;
    margin-top: 110px;
    margin-left: 50px;
    margin-bottom: 10px;
  }
  .footer-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    width: 100%;
    /*
    justify-content: center;
    */
    font-size: 14px;
    margin-right: 100px;
    margin-bottom: 10px;
    /*
    padding: 50px;
    */
    text-decoration: none;
  }
  .footer-nav-item {
    padding: 2px;
    border: none;
  }
  /*
  .footer-nav-item:not(:last-child) {
    margin-right: 20px;
  }
  .footer-nav-item {
    border-right: 1px solid #fff;
    padding-right: 2px;
  }
  */
}
