/*固定ヘッダー*/
a {
  text-decoration: none;
  color: inherit;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #fff;
  color: #000;
}
.header-ttl {
  font-size: 24px;
  width: 70px;
}
.header-ttl img {
  width: 100%;
  height: auto;
}
.header-nav-list {
  display: flex;
  font-weight: bold;
}
.header-nav-item:not(:last-child) {
  margin-right: 30px;
}
/*ホーム1*/
.home__1--img {
  position: relative;
  background: url(../img/mv.jpg) no-repeat center/cover;
  margin-left: 7.5%;
}
.home__1--content {
  position: absolute;
  top: 44%;
  left: 42%;
  text-align: center;
  font-size: 60px;
  color: #fff;
}
/*ホーム2*/
/*
a {
  text-decoration: none;
  color: #333;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.news {
  padding: 50px 0;
  background: #fff7ea;
}
.inner {
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  padding: 65px 0 100px;
}
.sub_ttl {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}
/* ここからがニュース記事のCSS */
.news_list {
  margin-top: 100px;
  list-style: none;
}
.news_list_item {
  padding: 25px 0;
  border-bottom: 1px solid #000;
  width: 60%;
  margin: 0px auto;
  display: flex;
}
.news_list_item:first-child {
  border-top: 1px solid #000;
  width: 60%;
  margin: 0px auto;
}
.news_list_item img {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  width: 40%;
}
.news__item {
  width: 80%;
  height: 20%;
  margin-left: 30px;
  float: right;
  font-size: 23px;
  text-align: left;
  line-height: 150%;
}
.news__item--1 {
  padding-bottom: 20px;
  font-weight: bold;
}
/*ホーム3*/
.home__8 {
  background-color: #f5f5f5;
  width: 100%;
  height: auto;
  margin-top: 100px;
  padding-bottom: 10px;
}
.home__8--content {
  text-align: center;
  color: #000;
  line-height: 120%;
}
.home__8--ttl {
  padding: 50px;
  font-size: 35px;
  font-weight: bold;
}
.home__8--subttl {
  font-size: 23px;
}
/*ボタン*/
.home__8--btn {
  display: block;
  width: 400px;
  margin: 30px auto;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  background: #ff0000;
  color: #fff;
  font-size: 23px;
  font-weight: bold;
}
.home__8--btn:hover {
  color: rgba(0, 191, 255, 0.35);
}
/*サイトフッター*/
a {
  text-decoration: none;
  color: inherit;
}
.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.footer-ttl {
  font-size: 14px;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 10px;
}
.footer-nav-list {
  display: flex;
  font-weight: bold;
  width: 100%;
  justify-content: center;
  font-size: 14px;
  margin-right: 100px;
  margin-bottom: 10px;
}
.footer-nav-item:not(:last-child) {
  margin-right: 20px;
}
.footer-nav-item {
  border-right: 1px solid #fff;
  padding-right: 2px;
}
/*レスポンシブデザイン*/
@media screen and (max-width: 768px) {
  a {
    text-decoration: none;
    color: #000;
  }
  .nav {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    background: #eee;
    transition: 0.7s;
    text-align: center;
  }
  .nav ul {
    padding-top: 80px;
  }
  .nav ul li {
    list-style-type: none;
    margin-top: 50px;
  }
  .menu {
    visibility: visible;
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    left: 20px;
    top: 20px;
  }
  .menu__line--top,
  .menu__line--middle,
  .menu__line--bottom {
    visibility: visible;
    display: inline-block;
    width: 100%;
    height: 4px;
    /*
    background-color: #000;
    */
    position: absolute;
    transition: 0.5s;
  }
  .menu__line--top {
    top: 0;
  }
  .menu__line--middle {
    top: 14px;
  }
  .menu__line--bottom {
    bottom: 0;
  }
  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
  .in {
    transform: translateX(100%);
  }
  /*PC版*/
  a {
    text-decoration: none;
    color: inherit;
  }
  .header {
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
    background-color: #fff;
    color: #000;
  }
  .header-ttl {
    font-size: 24px;
    width: 70px;
  }
  .header-ttl img {
    width: 100%;
    height: auto;
  }
  .header-nav-list {
    visibility: hidden;
    display: flex;
    font-weight: bold;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 30px;
  }
}
